@charset 'utf-8';

html, body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:Dotum,'??',Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;color:#383d41}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#222;text-decoration:none;cursor:pointer}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}

.blind, legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.btnS{display:inline-block;padding:3px;border:1px solid #ccc;border-radius:2px}
.border_none{border:0 none !important}

/* layout */
.wrp_header{padding:25px 0 10px;border-bottom:2px solid #333;text-align:left}
.header{width:800px;margin:0 auto}
.header:after{content:'';display:block;clear:both}
.header h1{float:left}
.header .gnb{float:left;margin-left:30px}
.header .gnb li{float:left;margin-left:30px}
.header .gnb li:first-child{margin-left:0}

.container{width:800px;padding-top:50px;margin:0 auto;text-align:left}
h2{padding-bottom:20px;font-size:24px;font-weight:bold}

.wrp_content:after{content:'';display:block;clear:both}
.aside{float:left;width:180px}
.aside .user_info{padding:5px;margin-bottom:10px;background:#f9f9f9;border:1px solid #ccc}
.aside .lnb li{padding-bottom:10px}
.aside .gdn{width:100%;height:200px;line-height:200px;margin-top:20px;border:1px solid #ccc;background:#f9f9f9;text-align:center}
.content{float:right;width:590px}
h3{padding-bottom:10px;border-bottom:1px solid #333;font-size:14px;font-weight:bold}
caption{overflow:hidden;width:1px;height:1px;*height:0;padding:0;margin-top:-1px;font-size:0;line-height:0;text-indent:-999px}
.bbs1{width:100%;margin-top:25px}
.bbs1 th{height:30px;border-bottom:2px solid #666;text-align:center}
.bbs1 td{height:30px;border-bottom:1px solid #666;text-align:center}
.bbs1 td.tit{padding-left:15px;text-align:left}

.pagenation{padding-top:30px;text-align:center}
.pagenation a{display:inline-block;box-sizing:border-box;height:20px;line-height:20px;padding:0 6px;margin:0 2px;border:1px solid #ccc;color:#666;text-align:center}
.pagenation a.on{background:#666;font-weight:bold;color:#fff}

.wrp_btn_r{padding-top:10px;text-align:right}
.wrp_btn_r a{margin-left:5px}
.wrp_btn_r a:first-child{margin-left:0}
.btn{display:inline-block;height:28px;line-height:28px;padding:0 20px;border:1px solid #666;text-align:center;cursor:pointer}
.bbs2{width:100%;border-bottom:1px solid #666}
.bbs2 tbody tr:first-child th, .bbs2 tbody tr:first-child td{border-top:2px solid #666}
.bbs2 th{border-right:1px solid #ccc;background:#f7f7f7}
.bbs2 th, .bbs2 td{padding:10px 0 10px 20px;border-top:1px solid #ccc}
.bbs2 input, textarea{width:500px;padding:5px}
.bbs2 input{width:500px}
.bbs2 textarea{height:200px}

.frm_register li{margin-bottom:5px}
.frm_register li span{padding-left:5px}
.fcg{color:green}
.fcr{color:red}

.wrp_member{width:190px;padding:20px;margin:100px auto;border:1px solid #ccc}
.frm_login{position:relative;width:180px;padding-bottom:10px}
.frm_login li{margin-top:5px}
.frm_login li:first-child{margin-top:0}
.frm_login .btn_login{position:absolute;right:0;top:25px;height:37px;line-height:37px}
.btn_acc, .btn_cancel{margin-left:3px}
